.stories {
    padding-bottom: 50px;
    border-bottom: 2px solid #ccc;
}
.stories__title {
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 14px;
}
.stories__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.stories__list-item {
    padding: 0 40px;
    border-right: 1px solid #ccc;
}
.stories__list-item:last-child {
    border-right: none;
}
.stories__list-user {
    color: #888;
    font-size: 24px;
    margin-bottom: 10px;
    padding-left: 32px;
    background: url('https://somon.tj/static/images/author-name-before.png') no-repeat left center;
}
.stories__list-text {
    font-size: 14px;
    position: relative;
    margin-bottom: 10px;
}
.stories__list-text::before {
    content: '«';
    display: block;
    position: absolute;
    top: -2px;
    left: -15px;
    font-size: 24px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.5);
}
.stories__list-text::after{
    content: '»';
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 24px;
    line-height: 0;
    position: relative;
    top: 2px;
}