/* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-900 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v30-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
}
.container {
    max-width: 1240px;
    padding:  0 20px;
    margin: 0 auto;
}
.page-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
main {
    width: 870px;
    margin-bottom: 65px;
}
aside {
    width: 300px;
}
.add-post {
    height: 35px;
    padding: 0 13px;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    line-height: 38px;
    border-radius: 5px;
    background: #ea4300;
    margin-left: 15px;
    margin-right: 19px;
}
.add-post:hover {
    opacity: 0.8;
}
.menu-lang a:active {
    color: #0093d3;
}

.menu-lang a {
    padding-top: 20px;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color:  #a3a3a3;
}
.menu-lang a.active {
    color: #0093d3;
}
.lang-ru {
    position: relative;
    padding-right: 10px;
    border-right: 1px solid #dbdbdb;
}
.lang-ru::before {
    position: absolute;
    top: 2px;
    left: -2px;
    content: url('https://somon.tj/static/images/lang/ru.svg');
}
.lang-tj {
    position: relative;
    padding-left: 10px;
}
.lang-tj::before {
    position: absolute;
    top: 2px;
    right: -5px;
    content: url('https://somon.tj/static/images/lang/tg.svg');
}
.title {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 25px;
    font-weight: bold;
    padding: 20px 0 10px;
}
.title:hover {
    color: #f59413;
}
.card {
    text-decoration: none;
    color: #000;
}
.card_img_wrapper {
    width: 100%;
    position: relative;
    margin-bottom: 5px;
}
.icon_wrapper {
    position: absolute;
    right: 5px;
    top: 5px;
    vertical-align: top;
    font-size: 0;
    z-index: 1;
    background: #747474;
    padding-right: 5px;
    border-radius: 3px;
}
.camera_icon {
    color: #fff;
    min-width: 13px;
    height: 16px;
    padding-left: 23px;
    background: url('https://somon.tj/static/images/photoapparat.svg') no-repeat 6px center;
    background-size: 12px;
    font-size: 11px;
    line-height: 15px;
    display: inline-block;
}
.camera_icon {
    margin-top: 1px;
}
.card_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.card_price {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2px;
}
.card_desc {
    font-size: 16px;
}
.single-border {
    max-width: 1240px;
    height: 1px;
    margin: 0 auto;
    background: #ccc;
}