.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paper {
  width: 400px;
  padding: 50px;
  border: 1px solid #dedede;
  box-shadow: none;
  margin-bottom: 100px;
}
.title {
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.error {
  line-height: 1.66;
  color: #d32f2f;
}
