.auth {
    margin-bottom: 100px;
}
.title {
    padding: 35px 0 10px 230px;
    font-size: 36px;
    line-height: 38px;
    font-weight: bold;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 20px;
}
.form {
    margin-left: 230px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.label {
    width: fit-content;
    position: relative;
    margin-bottom: 20px;
}
.label_text {
    position: absolute; 
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    transform: translateX(calc(-100% - 30px));
}
.input {
    width: 350px;
    height: 50px;
    padding-left: 10px;
    font-size: 21px;
    line-height: 48px;
    letter-spacing: 2px;
    outline: none;
    border: none;
    border: 2px solid #b3b3b3;
    border-radius: 5px;
    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.input:hover {
    background: #fff4c1;
}
.error {
    margin-top: 5px;
    color: #b40000;
    line-height: 1.5;
}
.checkbox_label {
    cursor: pointer;
}
.checkbox_container {
    display: flex;
    align-items: center;
}
.checkbox {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.checkbox_label_text {
    font-size: 14px;
    user-select: none;
}
.submit {
    width: fit-content;
    padding: 0 25px;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    color: #fff;
    background: #ea5e00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.submit:not(:disabled):hover {
    opacity: .8;
}
.submit:disabled {
    background: #b3b3b3;
    cursor: default;
}
.redirect {
    margin-left: 230px;
    text-decoration: none;
    color: #0093d3;
}
.redirect:hover {
    color: #f59413;
}