.indexText {
    margin-bottom: 30px;
}
.indexText__title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 1px;
}
.indexText__popular {
    font-size: 16px;
    line-height: 21px;
}
.indexText hr {
    margin: 20px 0;
}
.indexText p {
    opacity: .7;
    color: #000;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 21px;
}